<div>
  <div class="nav">
    <ul class="home">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
    </ul>
    <ul  class="cart">
      <li class="nav-item">
        <a class="nav-link"  routerLink="/cart"><img src="../assets//images/cart.png"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/cart"><img src="../assets//images/heart.png"></a>

      </li>
    </ul>

  </div>
  <router-outlet></router-outlet>
</div>

<!-- <app-home></app-home> -->
